/*=============  Desktop First  =============*/
/* Large Device, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container {
    left: 40%;
    top: 49%;
    width: 74%;
    height: 85%;
    transform: translate(-36%, -50%);
  }
  .inputs input {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .container {
    max-height: 70%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .chart {

  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}
/* Custom, Iphone Retina */
@media only screen and (max-width: 320px) {

}